{{ define "base" }}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>
    <link rel="icon" type="image/x-icon" href="/static/favico.ico">
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {{ template "head" . }}
</head>
<body class="bg-[#F2F2F7] min-h-screen font-sans">
    {{ template "body" . }}
    {{ template "scripts" . }}
</body>
</html>
{{ end }}

{{ define "title" }}曲奇API{{ end }}
{{ define "head" }}{{ end }}
{{ define "scripts" }}{{ end }}
